.body {
    background-image: linear-gradient(red, yellow);

}
.profile-card {
    background: linear-gradient(180deg, #fffbe7, #d8b0bc);
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
} 
.profile-image {
    max-width: 400px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}
.profile-image img{
    border-radius: 0%;
    width: 100%;

}
