.bubble-box{
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, #aeefff 60%, #4fc3f7 100%);
    border: 1px solid #b3e5fc;
    box-shadow: 0 4px 16px 0 rgba(79,195,247,0.3), 0 0 0 2px #e1f5fe inset;
    border-radius: 50%;
    position: absolute;
}