:root {
    --bg-primary: #141e2e;
    --bg-right: #F1F0E4;
    --bg-latte: #DBDBDB;
    --bg-macchiato: #BDB395;
    --bg-black-coffee: #854836;
    --bg-espresso: #AB886D;
    --bg-mocha: #BCA88D;
}

html,body {
    margin: 0;
    overflow-x: hidden;
}
.coffee-section {
    display: flex;
    height: 100vh; /* Set a height so the columns have vertical space to fill */
}
.left-column, .right-column {
    flex: 1;
    min-width: 0;   /* important: lets flex children shrink */
    display: flex;
    justify-content: center;
}
.left-column {
    align-items: center;
}
.left-column img{
    width: 50%;
}

.right-column {
    flex-direction: column;
    background-color: var(--bg-right);
}

.right-column h1 {
    padding: 0rem 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.right-column p {
    padding: 0rem 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
}

.latte .left-column {
    background-color: var(--bg-latte);
}

.macchiato .left-column {
    background-color: var(--bg-macchiato);
}

.black-coffee .left-column {
    background-color: var(--bg-black-coffee);
}

.espresso .left-column {
    background-color: var(--bg-espresso);
}

.mocha .left-column {
    background-color: var(--bg-mocha);
}



@media (max-width: 768px) {
    .coffee-section{
        flex-direction: column;
    }
    .right-column h1 {
        font-size: 2rem;
        padding: 0 1rem;
        margin-bottom: 0;
    }
    .right-column p {
        padding: 0 1rem;
        font-size: 1.2rem;
    }
}

