/* anchor positioning */

:root {
    --bg-primary: #141e2e;
    --bg-main: #0d1117;    /* Dark navy background */
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    --radius: 12px;
    --accent: #2563eb;         /* Blue accent */
    --bg-hover: #374151;       /* Hover state */
    --text-primary: #e5e7eb;   /* Light gray text */
    --text-secondary: #9ca3af; /* Muted gray text */
}
 
body {
    background-color: var(--bg-main);
}

.topic h2{
    color: var(--text-primary);
}

.gallery {
    width: 100%;
    overflow-x: auto;
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery::scroll-button(right), .gallery::scroll-button(left) {
    content: ">";
    border: none;
    background-color: var(--accent);
    font-family: Consolas;
    font-size: 3rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
}

.gallery::scroll-button(left) {
    content: "<";
}

.gallery::scroll-button(right):disabled, .gallery::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.gallery img {
    flex: 0 0 20em;
    height: 12em;
    background-color: var(--bg-primary);
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
    transition: transform 0.3s ease-in-out; /* Smooth transition over 0.3 seconds */
}

.gallery img:hover {
    transform: scale(1.2); /* Scales the element to 120% of its original size */
}

